[submodule "dataModel.WaterQuality"]
	path = dataModel.WaterQuality
	url = https://github.com/smart-data-models/dataModel.WaterQuality.git
[submodule "dataModel.WaterConsumption"]
	path = dataModel.WaterConsumption
	url = https://github.com/smart-data-models/dataModel.WaterConsumption.git
[submodule "dataModel.WaterDistribution"]
	path = dataModel.WaterDistribution
	url = https://github.com/smart-data-models/dataModel.WaterDistribution.git
